/* Add CSS for styling the dropdown here */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    border: 1px solid #d3d3d3;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 100px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
    padding: 5px;
}

.dropdown-content li a {
    text-decoration: none;
    display: block;
    color: #333;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}